{% include "navbar.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'stumart.css' %}">
<main><div class="product-dashboard">
    <h3 style="margin:5% 28%">My Activities</h3>
    <button style="background-color: black;" class="btn" value="stumart">Stumart History</button>
    <button class="btn" value="tutor">Tutor Career</button>
    <button class="btn" value="transaction">Transaction History</button>
    <button class="btn" value="notes">Saved Notes</button>
    <div style="position: absolute;bottom: 5vh;text-align: center;width: 100%;">
        <div class="back_delete" style="margin-bottom:3vh;"><i class="material-icons" style="font-size:26px;position: relative;top: 7px;color: darkred;">delete_forever</i>Clear History</div>
        <div class="back_delete" onclick="location.href='{% url 'userbio' %}'"><i class="material-icons" style="font-size:26px;position: relative;top: 7px;">arrow_back</i>
            Back</div>

    </div>  
</div>
   

<section style="display:flex;width:71.5vw;position:relative;left:20vw;height:90vh;margin-left: 5vw;justify-content: space-between;">
    <div class="contents" id="stumartdashboard" style="display:flex;">
    <div class="buyerhistory">
        <div class="purchbox">
            <div style="display:flex;margin:4vh 10vw;margin-right:0px;">
            <img src="{% static 'icons/png/buy.png' %}" style="height:3vw;width:3vw;">
            <h1 style="margin-top:2vh;margin-left: 1vw;">Purchase history</h1>
        </div>
        <span class="indicators_active" onclick="showdata(0)">Pending</span><span class="indicators" onclick="showdata(1)">Completed</span>
        <div id="pending_buy">
        {% for i in buyer %}
        {% if i.status != "completed" %}
        <div class="history" >
            <h1>{{i.title}}</h1>
            <span>Product price:{{i.price}}</span>
            <span>delivery charge:{{i.delivery_charge}}</span>
            <br>
            <span>shipping address:{{i.region}}</span>
            <span style="float:right;color:green;">{{i.status}}</span>
        </div>
        {% endif %}
        {% endfor %}
        </div>
        <div id="completed_buy" style="display:none;">
            {% for i in buyer %}
            {% if i.status == "completed" %}
            <div class="history" >
                <h1>{{i.title}}</h1>
                <span>Product price:{{i.price}}</span>
                <span>delivery charge:{{i.delivery_charge}}</span>
                <br>
                <span>shipping address:{{i.region}}</span>
                <span style="float:right;color:green;">{{i.status}}</span>
            </div>
            {% endif %}
            {% endfor %}
            </div>
    </div>
    </div>
    <div class="sellerhistory">
   
        <div class="purchbox">
            <div style="display:flex;margin:4vh 10vw">
            <img src="{% static 'icons/png/sold.png' %}" style="height:3vw;width:3vw;">
            <h1 style="margin-top:2vh;margin-left: 1vw;">Sell history</h1>
            </div>
       
        <span class="indicators_active" onclick="showdata(2)">Pending</span><span class="indicators" onclick="showdata(3)">Completed</span>
        <div id="pending_sell">
        {% for i in seller %}
        {% if i.status != "completed" %}
        <div class="history" >
            <h1>{{i.title}}</h1>
            <span>Product price:{{i.price}}</span>
            <span>delivery charge:{{i.delivery_charge}}</span>
            <br>
            <span>shipping address:{{i.region}}</span>
            <span style="float:right;color:green;">{{i.status}}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="completed_sell" style="display:none;">
    {% for i in seller %}
    {% if i.status == "completed" %}
    <div class="history" >
        <h1>{{i.title}}</h1>
        <span>Product price:{{i.price}}</span>
        <span>delivery charge:{{i.delivery_charge}}</span>
        <br>
        <span>shipping address:{{i.region}}</span>
        <span style="float:right;color:green;">{{i.status}}</span>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
    </div>
</div>
</div>
<div class="contents" style="display:none" id="tutordashboard">
    <div class="purchbox" style="width:100%;text-align: center;vertical-align: middle;">
        <h2>Tutor Career</h2>
    <p>No records found</p>
    </div>
</div>
<div class="contents"  style="display:none" id="transaction">
    <div class="purchbox" style="width:100%;text-align: center;vertical-align: middle;">
        <h2>Transaction History</h2>
    <p>No records found</p>
    </div>
</div>
<div class="contents"  style="display:none" id="savednotes">
    <div class="purchbox" style="width:100%;text-align: center;">
        <h2>Saved notes</h2>
    <p style="vertical-align: middle;">No records found</p>
    </div>
</div>
</section>
<section>

</section>
</main>
<script>
    $("button").click(function (){
        var btn=document.getElementsByClassName("btn")   
        const value=this.value
        var contents=document.getElementsByClassName("contents")
        for(i of contents){
            i.style.display="none"
            }
        if(value=="tutor")
        $("#tutordashboard").css("display","block")
        if(value=="stumart")
        $("#stumartdashboard").css("display","flex")
        if(value=="transaction")
        $("#transaction").css("display","block")
        if(value=="notes")
        $("#savednotes").css("display","block") 
        for(i of btn){
            i.style.backgroundColor="#00000000"
        }
        this.style.backgroundColor="black";
    })
    function showdata(value){
        buy= document.querySelectorAll(".buyerhistory span")
        sell= document.querySelectorAll(".sellerhistory span")
        switch(value){
            case 0:
                $("#pending_buy").css("display","block")
                $("#completed_buy").css("display","none")
                 $(buy[0]).attr("class","indicators_active")
                 $(buy[1]).attr("class","indicators")
                 break;
            case 1:
                $("#completed_buy").css("display","block")
                $("#pending_buy").css("display","none")
                 $(buy[1]).attr("class","indicators_active")
                 $(buy[0]).attr("class","indicators")
                 break;
            case 2:
                $("#pending_sell").css("display","block")
                $("#completed_sell").css("display","none")
                 $(sell[0]).attr("class","indicators_active")
                 $(sell[1]).attr("class","indicators")
                 break;
            case 3:
                $("#completed_sell").css("display","block")
                $("#pending_sell").css("display","none")
                 $(sell[1]).attr("class","indicators_active")
                 $(sell[0]).attr("class","indicators")
                 break;
        }
    }
</script>
</html>