body{
overflow: hidden;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.head {
    
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile {
    width: 37.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {
    width: 30%;
}

.mininfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}

.extras {
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.reward {
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.body {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    order: 1;
    height: 100%;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2vw;
}

.main {
    order: 2;
    height: 100%;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 12px;
    padding:1.2% 1%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 2px grey;
}

#person {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;

}

#reward {
    height: 30%;
    width: 30%;
}

 .main button {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.1vw;
    border: transparent;
    border-radius: 12px;
    height: 10vh;
    width: 20vw;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 8px 3px grey;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: transparent;
    border-radius: 10px;
}


.mininfo input[type=submit] {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: transparent;
    border-radius: 10px;
    position: relative;
    top: 5%;
    left: 30%;
}

.a {
    font-size: 1.5vw;
    font-weight: 500;
    padding-left: 2%;
    font-family: 'PT Sans', sans-serif;
}

.a+p {
    padding-right: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

button:hover{
    color: black;
    background-color:blanchedalmond;
    box-shadow: none;
    cursor: pointer;
}
#submit_photo{
    position: absolute;
    top: 9.8vh;
    background-color: crimson;
    color: white;
    left: 0vw;
}
#modal{
    box-sizing: border-box;
    position:absolute;
    left: 37.5vw;
    top:27.5vh;
    height: 48vh;
    width: 25vw;
    border-radius: 12px;
    border: transparent;
    background-color: rgba(245, 240, 240, 0.4);
}

#modal form{
    height: 30vh;
    width:20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:1.5vw;
    margin-top: 2.5vh;
}

#modal input[type=password]{
    background-color: rgba(245,245,245,0.8);
    border:transparent;
    border-radius: 12px;
    width: 20vw;
    padding: 2vh 1vw;
}

#modal button{
    background-color: rgba(245,245,245,0.8);
    width: 22vw;
    padding: 2vh 1vw;
    border:transparent;
    border-radius: 12px;
    margin-left:1.5vw;
    margin-top: 2.5vh;
 
} 

#modal input[type=password]:focus{
    border:transparent;
    outline:2px solid purple;
}

#modal input[type=submit]:hover{
    color: white;
    background-color: orangered;
}

input[type=password]::placeholder{
    text-align: center;
}

.modal::backdrop{
    /* background: linear-gradient(45deg,red,blue);
    opacity:0.3; */
    backdrop-filter: blur(5px);
}

#modal i{
    position: absolute;
    top:0vh;
    left:23vw;
    z-index: -1;
}
#modal i:hover{
    color:red;
    cursor: pointer;
}
.mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.432);
    overflow: auto; /* Enable scroll if needed */
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #bbe2e2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    align-content: center;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  .modal-content button{
    margin-top: 4vh;
    background-color: crimson;
    height: 4vh;
    color: white;
    border: 0px;
    width: 6vw;

  }
  /* The Close Button */
  .close_verify {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close_verify:hover,
  .close_verify:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modallogout{
    box-sizing: border-box;
    position:absolute;
    left: 37.5vw;
    top:27.5vh;
    height: 28vh;
    color:white;
    
    width: 25vw;
    border-radius: 12px;
    border: transparent;
    background-color: rgb(11, 40, 168);

  }
  .modallogout button{
    margin-top: 5vh;
    background-color: crimson;
    margin-left: 3vw;
    border: 0px;
    height: 4vh;
    width: 6vw;
    color: white;
  }
  .modallogout::backdrop{
    backdrop-filter: blur(1.5px);
  }