*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(to bottom,rgb(223, 99, 99),rgb(26, 26, 46));
    overflow: hidden;
}
.infobox{
    color:white; 
    width:40vw;height:100vh;
    background-image: linear-gradient(to bottom,rgb(177, 34, 93),rgb(0, 0, 0));
}
.infobox p{
font-size: 2vw;
font-family: Libre Baskerville;  
position: relative;
top: 45%;
left: 20%;  
}
.signinbox{
    background-image: linear-gradient(to bottom right,rgba(128, 128, 128, 0.774),rgba(255, 255, 255, 0.3));
    border-radius: 30px;
    position: relative;
    left:11.5vw;
    top: 15vh;
    box-shadow: 10px 10px 15px black;
    height: 70vh;
    width: 38vw;
}
.signinbox >h1{
    color: rgb(1, 12, 46);
    text-align: center;
    margin-top: 3vh;
}

.tick,.cross{
    display:inline-block;
    position:absolute;
    top: 5.3vh;
    right: 16vw;

}
.cross{
    top:15.5vh;
}
form{
    position: relative;
    left: 8vw;

}
form >input,#but{
    text-align: center;
    font-family: Kdam Thmor Pro;
    color: black;
    font-size: 1.2vw;
    margin-top: 4vh;
    border: 2px solid purple;
    border-radius: 15px;
    height: 5.5vh;
    width: 22vw;
}
form >input[type="submit"],#but{
    background-color: rgb(1, 12, 46);
    border: 0px;
    color: white;
}
form >input[type="submit"]:hover{
    background-color: rgb(148, 99, 7);
}

form >p{
    position: relative;
    left: 7vw;
    margin-top: 3vh;
}
#but{
position: relative;
left: 8vw;
}
#but:hover{
    background-color: rgb(148, 99, 7);
}
.err{
    display:block;
    font-size: 1vw;
    height:10vh;
    background-color: white;
    width: 14vw;
    color:crimson;
    text-align: center;
    border-radius:8px;
}
