
main {
    height: 91.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    background: url(icons/women.jpeg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: 65%;
    mix-blend-mode: multiply;
    color:black;
}

.a {
    text-align: center;
    font-size: 4vw;
}

.b {
    margin-left: 4%;
    width: 80%;
}

#types {
    position: relative;
    top:2vh;
    height: 85%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.first {
    font-family: 'Nova Round', cursive;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.first .img{
    width:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first p{
    font-family: 'Lobster Two', cursive;
    width:93%;
}

.second {
    visibility: hidden;
    font-size: 1.5vw;
    text-align: justify;
    transition: all  0.1s ease-in;
    color: black;
    margin-left: 7.2%;
    font-family: 'Patrick Hand', cursive;

}

.first:hover{
    color:teal;
    cursor: pointer;
}

.first:hover+.second{
    visibility:visible;
}