* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, rgba(82, 90, 210,0.5), rgba(195, 90, 190,0.5));
}
form>div{
    position: relative;
}
.screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 86.1%;
    width: 62.5%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    height: 75%;
    width: 75%;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 7px 7px 7px grey;
}

form {
    width: 40%;
    height:92%;
    margin: 0% 5.5% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 7px 7px 7px grey;
    background-color: thistle;
}

.strip {
    height: 65%;
    width: 3%;
    position: relative;
    left: 9.5%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 3.5vw;
    color: black;
}

.head {
    font-weight: 900;
    font-size: 1.5vw;
    text-align: center;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 6% 0% 6% 15%;
    border-radius: 25px;
    border: transparent;
    outline: 2px solid #57b846;
 
}

input[type=email] {
    background: url(mail.svg);
    background-size: 15%;
    background-position: 1% 50%;
    background-repeat: no-repeat;
 
}

input[type=text] {
    background: url(user.svg);
    background-size: 8.5%;
    background-position: 4% 50%;
    background-repeat: no-repeat;
   
}

input[type=password] {
    background: url(lock.svg);
    background-size: 8%;
    background-position: 5% 50%;
    background-repeat: no-repeat;
   
}

button {
    width: 100%;
    padding: 6%;
    border-radius: 25px;
    border: transparent;
    font-weight: 900;
    color: white;
    background-color: #57b846;
    
}

#a{
   
}

#b{
    color:teal;
}


input:hover {
    outline: 2px solid orangered;
}

input:focus {
    outline: none;
    border: transparent;
    outline: 2px solid orangered;
    box-shadow: 0 0 10px orangered;
}

button:hover {
    background-color: orangered;
    cursor: pointer;
}

#b:hover {
    text-decoration: underline;
    color: orangered;
    cursor: pointer;
}
.err{
    font-size: 1.2vw;
    color:crimson;
    
    
}
form span{
    position: absolute;
    right: 0.5vw;
    top: 2vh;
}
@media only screen and (max-width: 600px){
    *{
        font-size: 12px;
    }
    
    form{
        margin-left: 18%;
        width: 70%;
        height: 80%;
    }
    .mid{
        background-color: white;
        text-align: center;
    }
    .tick,.cross{
        right: 8px;
    }
    input{
        font-size:12px;
        height: 40px;
        padding: 5px;
    }
    button{
        height: 40px;
    }
    .head{
        font-size: 4vw;
    }
    .logo{
        display: block;
        position: absolute;
        top: 10%;
        height: fit-content;
        background-color: transparent;
        box-shadow: none;
    }
    .logo a{
        font-size: 20px;
    }
}