
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font: 'Patrick Hand';
}

body {
    /* background: url(nice.webp); */

    overflow: overlay ;
}

.topbar {
    background-color: rgba(255, 255, 255, 0.24);
    display: flex;
    align-items: center;
    margin-top: 3vh;
    border-radius: 15px;
    height: 12vh;
    width: 88vw;
    margin-left: 6vw;
}

.topbar>button ,.topbar >select{
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border: 0px;
    margin-left: 5vw;
}
.topbar>select{
    width: 15vw;
    margin-bottom: 2vh;
    font-size: 1vw;
}
form {
    width: 43%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
    align-items: center;
}

.topbar input[type=text] {
    padding: 0.6vh 1vw 0.6vh 1vw;
   
    height: 5vh;
    box-sizing: border-box;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: 0px;
}

.topbar input[type=text]::placeholder {
    text-align: center;
}

.topbar input[type=text]:focus {
    outline: none;
}

.topbar button[type=submit] {

    height: 5vh;
    width: 3vw;
    background-color: white;
    border: transparent;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
}

.items {

    position: relative;
    left: 3vw;
    width: 94vw;
    top: 3vh;
    bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.items>div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 19.75vw;
    /* border: 2px solid rgba(0, 0, 0, 0.192); */
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.116),rgba(255, 255, 255, 0.219));
    border-radius: 12px;
    margin-left: 3vw;
    margin-top: 6vh;
}

.singleitem,
#details {
    display: flex;
    align-items:baseline;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.singleitem:hover{
    border: 2px solid rgba(0, 0, 0, 0.192); 
}

.butt {
    display: block;
    background-color: crimson;
    color: white;
    height: 7vh;
    border-radius: 30px;
    width: 12vw;
    font-size: 18px;
   border: 0px;
}


.butt:hover {
    background-color: darkslateblue;
    color: wheat;
}

.placeitem {
    display: flex;
    height: 66vh;
    width: 68vw;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    margin-left: 6vw;
    margin-top: 6vh;
}

.placeitem img {
    height: 17vw;
    width: 17vw;
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-part {
    width: 40%;
    margin-left: 4vw;
}

.left-part form {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -10vh;
}

.left-part form>input[type="file"] {
  
    font-size: medium;
    position: relative;
    left: 4vw;
}

.left-part form>input[type=submit] {
    background-color: lightpink;
    color: black;
    border: 0px;
    font-size: large;
    height: 5vh;
    width: 7vw;
    margin-top: 2vh;

}

.right-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.right-part>div {
    margin-top: 4vh;
    margin-left: 8vw;
}

.right-part form input[type=text],
select {
    padding-left: 1vw;
    border-radius: 12px;
    height: 8vh;
    width: 28vw;
    border: 0px;
    font-size: large;
    margin-top: 2vh;
    margin-left: 10vw;

}
.right-part form input[type=text]:focus,select:focus{
    border: 0px;
    outline: 2px solid purple;
}
.right-part textarea{
    border-radius: 12px;
    padding-left: 1vw;
    padding-top: 1vh;
}
.right-part textarea:focus{
    border: 0px;
    outline:2px solid purple;
}
.right-part form input[type=text]::placeholder{
    text-align: center;
}
.right-part form select{
    text-align: center;
}

.right-part form input[type=submit] {
    background-color: rgba(146, 140, 140, 0.514);
    border-radius: 12px;
    border: 0px;
    height: 5vh;
    width: 10vw;
  
    margin-top: 3vh;
    margin-left: 10vw;
}

.right-part form input[type=submit]:hover
{
    cursor: pointer;
    background-color: crimson;
    color:white;
}
textarea {
    margin-top: 3vh;
    margin-left: 10vw;
}

/*.right-part form select{
    height: 8vh;
    width: 20vw;
    border: 0px;
    font-size: medium;
    margin-top: 2vh;
} */
.choose_image {
    border-radius: 12px;
    position: absolute;
    left: 10vw;
    bottom:12vh;
}

.buyerhistory,
.sellerhistory {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;

}

.purchbox {
    width: 34vw;
    height: 84vh;
    margin-top: 5vh;
    padding-top: 2vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
}

.history{
    border-radius: 20px;
    width: 90%;
    padding: 1vh 1vw 1vh 1vw;
    margin: 2vh 0.8vw 0 0.8vw;
    background-color: rgba(245, 245, 245, 0.452);
}
.left-part #imagecontainer{
    margin-top: 11vh;
}
input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: transparent;
    border-radius: 10px;
}

textarea::placeholder{
    text-align: center;
}

#imageofproduct{
    border-radius: 12px;
}

.info{
    width: 15vw;
    height: 16vh;
    padding: 5px;
    border-radius: 12px;
    z-index: 20;
    color: rgb(143, 18, 18);
    background-color: rgba(214, 209, 209, 0.822);
    position: absolute;
    left: 10vw;
    top: 4vh;
    display: none;
}
.singleitem i{
    z-index: 2;
}
.material-icons:hover+.info{
    display: block;
}
.modal{
    padding: 1vh 1.5vw;
    box-sizing: border-box;
    position:absolute;
    left: 37.5vw;
    top:27.5vh;
    height: 48vh;
    width: 25vw;
    border-radius: 12px;
    border: transparent;
    background-color: rgba(245, 240, 240, 0.4);
}
#modal button{
    background-color: rgba(245, 245, 245, 0.945);
    width: 22vw;
    padding: 2vh 1vw;
    border:transparent;
    border-radius: 12px;
    margin-top: 2.5vh;
 
} 
.modal::backdrop{
    /* background: linear-gradient(45deg,red,blue);
    opacity:0.3; */
    backdrop-filter: blur(5px);
}

.modal i{
    position: absolute;
    top:0vh;
    left:23vw;
    z-index: -1;
}
.modal i:hover{
    color:red;
    cursor: pointer;
}
#modal2{
    padding: 1vh 1vw 1vh 2vw;
    box-sizing: border-box;
    position:absolute;
    left: 40vw;
    top:32.5vh;
    height: 20vh;
    width: 20vw;
    border-radius: 12px;
    border: transparent;
    background-color: rgba(245, 240, 240, 0.4);
}
#modal2 button{
    border: 0px;
    margin-top: 6vh;
    position: relative;

    left: 5vw;
    height: 5vh;
    width: 6vw;
}
.activated_button{
    background-color: crimson;
    color: white;
}
.normal_button{
    background-color: white;
    color: black;
}
.takemethere:hover{
    background-color: rgb(0, 10, 95);
}
.pricedetails{
   
    width: 17vw;
    height: 65vh;
    margin-top: 6vh;
    margin-left: 3vw;
    border-radius: 12px;
    background-color: rgba(234, 234, 247, 0.397);
}
.pricedetails p{
    margin:1vw;
    color: rgb(3, 3, 66);
}
.pricedetails span{
    float: right;
    color: rgb(107, 23, 8);
}
.product-dashboard{
    border-radius: 12px;
    margin-left: 6vw;
    margin-top: 5vh;
    display:flex;
    position: absolute;
    flex-direction: column;
    height: 84vh;
    width: 18vw;
    background-color: #0000009a;
    color: white;
}
.product-dashboard button{
    background-color: #00000000;
    border: 0px;
    color: aqua;
    width: 100%;
    height: 10vh;

}
.contents{
    width: 72vw;
}
.indicators{
   padding: 2vh 1vw;
    margin-left: 6vw;
}
.indicators_active{
    padding: 1vh 0.6vw;
    border-radius: 12px;
    margin-left: 6vw;
    background-color: rgba(24, 118, 201, 0.384);
    color: crimson;
    
}
.indicators:hover{
    text-decoration: underline;
}
.back_delete:hover{
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 12px;
  
}
.back_delete{
    width: 11vw;
    height: 6vh;
    margin-left: 3.5vw;
}

@media only screen  and (max-width:600px){
    .items>div{
        width: 45%;
    }
    .topbar button,.topbar select{
        width: 26%;
        font-size: 13px;
    }
    .topbar input{
        width: 70vw;
        font-size: 15px;
    }
    
    form{
        z-index: 1;
        position: absolute;
        top:25%;
        right: 25%;
    }
}