{% include "navbar.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'account.css' %}">
    <div class="container">
        <div class="head">
            <div class="profile">
                <div class="person">
                {% if object.image == "" %}
            <img src="{% static 'user.png' %}" id="person" >
            {% else %}
            <img src="/media/{{object.image}}" id="person">
            {% endif %}
                </div>
                <div class="mininfo" style="position:relative;">
                    <div style="display:flex;"><p style="margin-bottom:2%;margin-right:0.5vw;font-size:25px;font-family: 'Poppins', sans-serif;">{{object.username}}</p>
                    {% if object.verified == False %}<button style="padding:1vh 0.8vw;border:0px;border-radius:12px;height: 5vh;" onclick="verify()">Verify account</button>{% else %} 
                    <i id="verifyclose" class="material-icons" style="font-size:24px;color:blue;">verified_user</i>
                {% endif %}    
                </div>
                    <p style="margin-bottom:2%; font-style: italic; font-size: 1.2vw;">{{object.email}}</p>
                    <form method="post" enctype="multipart/form-data"  >
                        {% csrf_token %}
                        <input type="file"  onchange="onpicchange()" name="img" accept="image/*">
                    
                        <input style="display: none;" id="submit_photo" type="submit" value=" submit file " name="profilechange">
                    </form>
                </div>
            </div>

            <div class="extras">
                <div class="reward">
                    <img src="{% static 'reward.svg' %}" alt="" id="reward">
                    <div style="margin-left: 1vw;">
                        <p style="font-family: 'Poppins', sans-serif;">Reward</p>
                        <p style="color:teal;">{{object.reward}}</p>
                    </div>
                   
                </div>
                    
            </div>
        </div>
        <div class="body">
          
            <div class="info">
                <div class="block">
                    <p class="a">First name:</p>
                    <p class="b">{{object.first_name}}</p>
                </div>
                <div class="block">
                    <p class="a">Last name:</p>
                    <p>{{object.last_name}}</p>
                </div> 
                <div class="block">
                    <p class="a">Username:</p>
                    <p>{{object.username}}</p>
                </div>
                <div class="block">
                    <p class="a">Phone:</p>
                    <p>{{object.phonenumber}}</p>
                </div>
                <div class="block">
                    <p class="a">Email:</p>
                    <p style="font-style: italic ;">{{object.email}}</p>
                </div>
                <div class="block">
                    <p class="a">College:</p>
                    <p>WRC</p>
                </div>
                <div class="block">
                    <p class="a">Batch:</p>
                    <p>{{object.batch}}</p>
                </div>
                <div class="block">
                    <p class="a">Faculty:</p>
                    <p>{{object.faculty}}</p>
                </div>
            </div>
            <div class="main">
                <div class="store">
                    <button onclick="location.href='{% url 'productmenu' tabvalue='purchasehistory' %}'">My Activities</button>
                </div>
                <div class="update" onclick="location.href='{% url 'updateinfo' %}'">
                    <button>Update Information</button>
                </div>
                <div class="change" >
                    <button id="open"> Change Password</button>
                </div>
                <div class="logout">
                    <button onclick="openlogout()"> Logout</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="mymodal">
        <span class="close_verify">&times;</span>
      <div class="modal-content">
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
        <h2 id="verify_title">Please verify your profile</h2>
        <div id="removable"> 
        <p>Send any file to verify your identity.Files like photos of identity card,hostel card or any other proof of identity is acceptable</p>
        <input type="file" id="file" name="filevalue">
      
    </div>
        <button  id="submit_file" type="submit" name="verifyprofile">Submit file</button>
        </form>
      </div>
    
    </div>

    <dialog class="modal" id="modal">
        <p style="display:inline-block;color:red;margin-left: 3vw;margin-top: 2vh;" id="error"></p>
        <i id="changepassd" class="material-icons" style="z-index:2;font-size:24px;">highlight_off</i>
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" name="" id="current" placeholder="Current Password">
            <input type="password" name="" id="new" placeholder="New Password">
            <input type="password" name="" id="confirm" placeholder="Confirm Password">
           
        </form>
        <button onclick="changepassword()">Update</button>
        
    </dialog>
    <dialog class="modallogout" id="logoutmodal">
        <span onclick="closelogout()" class="close_verify" style="margin-right:0.5vw;">&times;</span>
        <div style="padding: 3vh 2vw;">
        <h2>Are you sure you want to logout?</h2>
        <button onclick="location.href='{% url 'logout' %}'">Yes</button>
        <button onclick="closelogout()">No</button>
        </div>
    </dialog>
</body>
<script>
    const modal = document.querySelector('#modal');
    const openModal = document.querySelector('#open');
    const closeModal = document.querySelector('#changepassd');

    openModal.addEventListener('click', () => {
      
        modal.showModal();
    })

    closeModal.addEventListener('click', () => {
        document.getElementById("error").innerHTML="";
        modal.close();
    })

    function onpicchange(){
        document.getElementById("submit_photo").style.display="inline-block";
    }
    
    function changepassword(){
        $.ajax({
            type:"GET",
            url:"{% url 'changepassword' %}",
            data:{
                "current":document.getElementById("current").value,
                "new":document.getElementById("new").value,
                "confirm":document.getElementById("confirm").value,
            },
            success:function(request){
                document.getElementById("error").innerHTML=request.error;
            }
        })
    }
    function closelogout(){
        document.getElementById("logoutmodal").close()
    }
    function openlogout(){
        document.getElementById("logoutmodal").showModal()
    }
    function livefetch(check){
        $.ajax({
        type:"GET",
        url:"{% url 'verify' %}",
        data:{
            "check":check,
            "file":document.getElementById("file").value

        },
        success:function(request){
           if(request.checker!="notpresent"){
           document.getElementById("verify_title").innerHTML="Your request is submitted.Your profile will be checked within next 24 hrs."
          
           $("#removable").remove()
           $("#submit_file").remove()
           document.getElementById("submit_file").onclick=function(){
            document.getElementById("myModal").style.display = "none";
           }}
            }
    })
    }
    function verify(){
        var modalverify = document.getElementById("myModal");
        modalverify.style.display = "block";
        livefetch('1')


var span = document.getElementsByClassName("close_verify")[0];

span.onclick = function() {
  modalverify.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modalverify) {
    modalverify.style.display = "none";
  }
}
    }

</script>
</html>