{% include 'navbar.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <title>Contact US</title>
    <div id="error" style="position:absolute;top:8vh;width:100%;">
        {% if messages %}
        {% for i in messages %}
        {% if i.tags == "success" %}
        <div style="background-color:green;width: 100%;text-align: center;color: white;">{{i}}</div>
        {% else %}
        <div style="background-color:red;width: 100%;text-align:center;color: white;">{{i}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    <div class="contain" style="margin-top:3vh;">
        <div class="one">
            <p id="m" style="font-weight:900; font-size:5vh;">Connect With Us</p>
            <p class="n" style="font-weight:900; font-size:2vh;">We would love to respond to your queries and help you
            </p>
            <p class="n" style="font-weight:900; font-size:2vh;">Feel free to get in touch with us</p>
        </div>
        <div class="two">
            <div id="left1">
                <form  method="post">
                    {% csrf_token %}
                    <p style="font-weight:bolder; font-size:2vh;">Send your Request</p>
                    <div class="a">
                        <input type="email" name="email" id="" placeholder="Email">
                    </div>
                    <div class="b" style="font-size: 2vh;">
                        <label for="subject">Subject:</label>
                        <select name="subject" id="subject">
                            <option value="User Experience">User Experience</option>
                            <option value="Bad Service">Bad Service</option>
                            <option value="Scam">Scam</option>
                            <option value="Feedbacks">Feedbacks</option>
                            <option value="Others">Others</option>
                        </select>

                    </div>
                    <div class="message" style="margin-top:1.5vh;">
                        <p style="font-weight:bolder; font-size:2vh;">Write your Message</p>
                        <textarea name="message"></textarea>
                    </div>
                    <div class="btn">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div id="right1">
                <div class="ali" style="font-size: 2vh; font-weight:bolder">
                    <div class="email">
                        <p>Reach Us</p>
                        <div class="jk">
                            <p>Email</p>
                            <div class="elist">
                                <p>nishan@gmail.com</p>
                                <p>pujan@gmail.com</p>
                                <p>suyash@gmail.com</p>
                                <p>sadhana@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="phone">
                        <p>Phone</p>
                        <div class="plist">
                            <p>0123456789</p>
                            <p>0123456789</p>
                            <p>0123456789</p>
                            <p>0123456789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
<script>
    setTimeout(() => {
       document.getElementById("error").remove()
    })5000;
</script>
</html>
