{% include "navbar.html"  %}
<link rel="stylesheet" href="/static/home.css">
<img src="/static/scolor3.png" class="image">
        <div class="body_part">
           <div><h1 >A better environment for students</h1>
            <p>We try to provide the best that you can get as a student and we are not joking.<br>I mean you can find everything here from finding a tutor,making friends or make some money.<br>We are here for you..</p></div>
           
            
        
        <div class="container">
        <div class="boxes"><div ><h1>Our Services</h1><p>We try to address all students problems.Have a look at our services</p></div>
            <button onclick="location.href='{% url 'servicestab' %}'">Lets go</button></div>
        <div class="boxes"><div><h1>Mart</h1><p>Are you ready  for some trading?<br> Buy or sell old stuffs at our market</p></div><button onclick="location.href='{% url 'stumart' %}'">Visit</button></div>
        <div class="boxes"><div><h1>About Us</h1><p>Its important that we be in touch<br>Let us know about your queries and feedbacks</p></div><button>Lets go</button></div>
            </div>
        </div>
        
    </body>
    
</html>