<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Diplomata+SC&family=Libre+Baskerville&family=Oldenburg&display=swap" rel="stylesheet">
        <link href="/static/login.css" rel="stylesheet">
    </head>
    <body>
        <div style="display:flex;">
            <div class="infobox">
                <h1 style="font-size:4vw;position:relative;top:40%;left:20%">STU<span style="font-family:Oldenburg; color: yellow;">PACT</span></h1>
                <p>For Students,By Students</p>
            </div>
            <div style="position:absolute;left:62vw;top:10vh" id="error"></div>
            <div class="signinbox">
                <h1>Welcome back!!</h1>
                <h3 style="text-align:center;">Lets sign you in</h3>
                
            <form action="" method="post">
                {% csrf_token %}
                {% if sym1 == "✔" %}
                <input type="text" name="username" placeholder="Username" value={{username}}><div class="tick"><span style="background-color:white;color:green;float:right;">{{sym1}}</span></div><br>
                {% else %}
                <input type="text" name="username" placeholder="Username" value={{username}}><div class="tick"><span style="background-color:white;color:red;float:right;">{{sym1}}</span></div><br>
               
                {% endif %}
                
                <input type="password" name="password" placeholder="Password"><div class="cross"><span style="background-color:white;color:red;float:right;">{{sym2}}</span></div><br>
                <input type="submit" value="Log in"><br>
                <p><a style="color:rgb(0, 0, 41)" href="#">Forget Password?</a></p>
            </form>
                <br>
                <hr>
                <button id="but" onclick="location.href='{% url 'signup' %}'">Create New Account</button>
          
            </div>
        </div>
    </body>
    <script>
        var val1=document.createElement("p");
        var text=document.createTextNode("{{error}}");
        
        val1.appendChild(text);
        val1.setAttribute("class","err");
        document.getElementById("error").appendChild(val1)
        setTimeout(() => {  
            document.getElementById("error").innerHTML=""
         }, 4000);
    </script>
</html>