{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginfinal.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Pacifico&family=Patrick+Hand&family=Poppins&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    
    <div class="screen">
        <div id="error" style="position:absolute;top:0px;width:100%;">
            {% if messages %}
            {% for i in messages %}
            {% if i.tags == "success" %}
            <div style="background-color:green;width: 100%;text-align: center;color: white;">{{i}}</div>
            {% else %}
            <div style="background-color:red;width: 100%;text-align:center;color: white;">{{i}}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
            </div>
            
        <img src="{% static '/strip.png' %}" alt="" class="strip">
        <div class="box">
           
            <div class="mid">
                <div class=" logo">
                <p class="text">
                    <a style="color:purple;font-family: 'Pacifico', cursive;">Stu</a><a
                        style="color:teal;font-family: 'Pacifico', cursive;">PACT</a>
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="head">
                    Login
                </div>
                <div class="username">
                  
                {% if sym1 == "✔" %}
                    <input type="text"  name="username" placeholder="Username"  autofocus value={{username}}><div class="tick"><span style="background-color:white;color:green;float:right;">{{sym1}}</span></div>
                    {% else %}
                    <input type="text"  name="username" placeholder="Username"  autofocus value={{username}}><div class="tick"><span style="background-color:white;color:red;float:right;">{{sym1}}</span></div>
                    {% endif %}

                </div>
                <div class="password">
                    <input type="password" name="password" placeholder="Password"><div class="cross"><span style="background-color:white;color:red;float:right;">{{sym2}}</span></div>
                </div>
                <div class="login">
                    <button type="submit">LOGIN</button>
                </div>
                <div class="forget">
                    Forget Username / Password?
                </div>
                <div class="create" ><a href="{% url 'signup' %}">
                    Create your Account
                </a></div>
            </form>
        </div>
    </div>
    </div>
</body>
<script>
    setTimeout(() => {
        if({{error}} == 'success')  
        $("#error").css("background-color","green")
        document.getElementById("error").innerHTML=""
     }, 4000);
</script>
</html>