<!-- <!DOCTYPE html>
<html>
    <head>
        <title>STUPACT</title>
       <link rel="stylesheet" href="/static/navbar.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Oldenburg&family=Pacifico&family=Permanent+Marker&display=swap" rel="stylesheet">

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <p>STU<span style="color: teal;font-family:Pacifico;">PACT</span></p>
            <div class="middle">
                <a href="{% url 'home' %}" class= {% if request.path == "/home/" %}"activate" {% else %} "normal" {% endif %}>Home</a>
                <a href="{% url 'servicestab' %}" class={% if request.path == "/services/" %}"activate" {% else %} "normal"{% endif %}>Services</a>
                <a class="normal" >Stu Mart</a>
                <a class="normal">Events</a>
            </div>
            <div class="right">
                <button>Contact</button>
             
                <img src={{request.session.image}} style="border-radius:50%;height: 30px;width:30px;float: right;"
                onclick="location.href='{% url 'userbio' %}'">
            </div>
          
        </div> -->
        {% load static %}
        <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Pacifico&family=Patrick+Hand&family=Gentium+Book+Plus&family=PT+Sans&family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="fab.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script  src="/static/javascript/total.js"></script>    
</head>

<body>
    
    <header>
        <nav>
            <div id="left">
                <span style="color:purple;">Stu</span>
                <span style="color:teal;">PACT</span>
            </div>
            <div id="center">
                <a  href="{% url 'home' %}" class= {% if request.path == "/home/" %}"activate" {% else %} "normal" {% endif %}>Home</a>
                <a href="{% url 'servicestab' %}" class={% if request.path == "/services/" %}"activate" {% else %} "normal"{% endif %}>Services</a>
                <a href="{% url 'stumart' %}" class={% if request.path == "/stumart" %}"activate" {% else %} "normal"{% endif %}>StuMART</a>
                <a href="">Events</a>
            </div>
            <div id="right">

                <a id="contact">
                    Contact
                </a>
               <button id="notified" onclick="shownotification()"><i  class="material-icons">notifications</i></button> 
                <img src={{request.session.image}} style="margin-left:1.5vw;border-radius:50%;height: 30px;width:30px;float: right;"
                onclick="location.href='{% url 'userbio' %}'">
            </div>
        </nav>
    </header>
    <div id="container">
       
    </div>
    <script>
        var array=[]
        var count=0
         setInterval(function () {
    $.ajax({
        type: 'GET',
        url: "{% url 'notification' %}",
        success:function(response){
           count=response.count
           if(count!=0){
            document.getElementById("notified").style.backgroundColor="red"
           }
           else
           document.getElementById("notified").style.backgroundColor="white"


        }

            
    })},5000)
        checker=true
        function shownotification(){
    console.log("clicked")
    document.getElementById("container").innerHTML=""
    if(checker){
    var element1=document.createElement('div')
    checker=false
    element1.setAttribute("class","notification")
    $.ajax({
        type: 'GET',
        url: "{% url 'notification' %}",
        data:{
            value:"1",
        },
        success:function(response){
           array=response.notifications;
           counter=response.counter;
           for(let i=0;i<array.length;i++){
        let textNode = document.createTextNode(array[i]+"("+counter[i]+" ago)"); 
        let element2=document.createElement("p")
        element2.appendChild(textNode);
        if(i<count)
        element2.setAttribute("id","notify2");
        else
        element2.setAttribute("id","notify")
        element1.appendChild(element2);
    }
        }

            
    })
    
    document.getElementById("container").appendChild(element1)}
    else{
        checker=true
    }
}
    </script>
   
    