{% include "navbar.html"  %}
{% load static %}
<link rel="stylesheet" href="{% static 'services.css' %}">
    <main>
        <div id="head">
            <p class="a">
                OUR
            </p>
            <p class="a">
                SERVICES
            </p>
        </div>
        <div id="types">
            <div class="b">
                <div class="first">
                    <div class="img">
                        <img src="{% static 'icons/tu.png' %}" style="height:100%;width:100%;">
                    </div>
                    <p>
                        IOE Notes
                    </p>
                </div>
                <div class="second">Get all of your subject notes here. We have tried to provide you with every possible
                    collection of materials for better study and exam preparation.</div>
            </div>
            <div class="b">
                <div class="first" onclick="location.href='{% url 'tutor_intro' %}'">
                    <div class="img">
                        <img src="{% static 'icons/tutor.png' %}" style="height:100%;width:100%;">
                    </div>
                    <p>
                        Tutor
                    </p>
                </div>
                <div class="second">Are you searching for a tutor for skills and exam preparation? You can find them
                    here.Also, if you want to be one, you can submit your request.</div>
            </div>
            <div class="b">
                <div class="first" onclick="location.href='{% url 'stumart' %}'">
                    <div class="img">
                        <img src="{% static 'icons/store.png' %}" style="height:100%;width:100%;">
                    </div>
                    <p>
                        Market
                    </p>
                </div>
                <div class="second">You can sell old books, scales, furniture, or any other related materials here. You
                    can also buy old items if you need any.</div>
            </div>
            <div class="b">
                <div class="first">
                    <div class="img">
                        <img src="{% static 'icons/event.png' %}" style="height:100%;width:100%;">
                    </div>
                    <p>
                        Organize Event
                    </p>
                </div>
                <div class="second">Do you want to create some online or offline programs?You can place it here.It will be
                    checked by the authorities before being broadcast.</div>
            </div>
        </div>
    </main>
</body>

</html>