{% include "navbar.html" %}
<link rel="stylesheet" href="/static/services.css">
       <div class="services">
       <div class="our_service"><h1>Our<br>Services</h1></div>
       <div><p>Get all of your faculty subjects notes here.We have tried to provide with every possible collection materials for better study and exam preperation</p>
        <section class="insd"><img src="/static/icons/tu.png"><h1>IOE Notes</h1></section></div>
       <div><p>Looking for a tutor for skills and exam preperation .You can find them here.Also if you want to be one you can submit your request.</p>
        <section class="insd"><img src="/static/icons/tutor.png"><h1>Tutor</h1></section></div>
       <div><p>Old books,scales,furniture or any study or other materials you can find a buyer here.Also you can buy old stuffs if you need any.</p>
        <section class="insd"><img src="/static/icons/trade.png"><h1>Market</h1></section></div>
       <div><p>Want to create some online programs or announce any offline or online programs you can place it here.It will be checked by the authorities before broadcasted.</p>
        <section class="insd"><img src="/static/icons/events.png"><h1>Organize an event</h1></section></div>
    </div>
        </body>
        
    </html>