<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signupfinal.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster+Two&family=Pacifico&family=Patrick+Hand&family=Poppins&display=swap"
        rel="stylesheet">
    <title>SignUp</title>
</head>

<body>
   
    <div class="screen">
        <img src="/static/strip.png" alt="" class="strip">
        <div class="box">
            <div style="position:absolute;left:56vw;top:14vh" id="error"></div>
            <div class="mid">
                <div class=" logo">
                    <p class="text">
                        <a style="color:purple;font-family: 'Pacifico', cursive;">Stu</a><a
                            style="color:teal;font-family: 'Pacifico', cursive;">PACT</a>
                    </p>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="head">
                        SignUp
                    </div>
                    <div class="name">
                        <input type="text" name="username" placeholder="Username" autofocus value={{username}}>
                        <span {%if symbol.0 == "✔" %} style="color:green;" {% else %} style="color:red;float="right";{% endif %}>{{symbol.0}} </span>
                    </div>
                    <div class="email">
                        <input type="email" name="email" placeholder="Email" value={{email}} ><span  {%if symbol.1 == "✔" %} style="color:green;" {% else %} style="color:red;" {% endif %}>{{symbol.1}} </span>
                    </div>
                    <div class="Password">
                        <input type="password" name="password" placeholder="Enter Password"><span  {%if symbol.2 == "✔" %} style="color:green;" {% else %} style="color:red;" {% endif %}>{{symbol.2}} </span>
                    </div>
                    <div class="Password">
                        <input type="password" name="confirm" placeholder="Confirm Password"><span  {%if symbol.3 == "✔" %} style="color:green;" {% else %} style="color:red;" {% endif %}>{{symbol.3}} </span>
                    </div>
                    <button type="submit">SignUp</button>
                    <p id="a" style="text-align:center;">Already Have Account?</p>
                    <p id="b" style="text-align:center;" onclick="location.href='{% url 'login' %}'">Login</p>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var val1=document.createElement("p");
    var text=document.createTextNode("{{error}}");
    
    val1.appendChild(text);
    val1.setAttribute("class","err");
    document.getElementById("error").appendChild(val1)
    setTimeout(() => {  
        document.getElementById("error").innerHTML=""
     }, 4000);
  
</script>

</html>