{% load static %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{% static 'tutor/tutor.css' %}">
    <div class="tutorinfo">
<img src="{% static 'tutor/tutor2.png' %}"height:320px;width:320px;margin: 8vh 3vw;">
<div style="margin:2vh 5vw;">
    <p style="font:4.5vw bold;font-family: Pacifico;background: -webkit-linear-gradient(rgb(29, 2, 29),rgb(185, 42, 66))
    ;-webkit-background-clip: text;color: transparent;margin-top: 4vh; margin-left: 10vw;">TUTOR</p>
    <p style="color:rgb(29, 2, 29);font-size:1.3rem;font-family: Pt Sans;">
        Need a tutor to learn on specific subject.Yeah we know you just go collage for attendence and you dont have much hopes
        from teachers.Well what if same thing is taught by one of us.One of we students who have tackled the problems of learning
        and will help other to do so.Well we provide platform for all students to learn from other students and even be a tutor and share
        what you know. 

    </p>
    <div style="display:flex;justify-content:space-around;margin-top: 5vh;margin-right: 2vw;">
        <button class="tutorbutt">Hire a tutor</button>
        <button class="tutorbutt">Be a tutor</button>

    </div>
</div>

    </div>
    </body>
    </html>